:root{
    --branco: #ffff;
    --gelo: #f1f1f1;
    --ciano: #0cdfbf;
    --preto: #2a2a2a;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;500&display=swap');

.body-login{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.login-content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 420px;
    background: transparent;
    border: 2px solid #000000;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;
}

.title-login {
    font-size: 36px;
    text-align: center;
}

.input-container{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-container input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}

.input-container input::placeholder{
    color: #000000;
}

.input-container a{
    font-size: 16px;
    margin-top: 5px;
    color: #000000;
    text-decoration: none;
}

.input-container a:hover{
    text-decoration: underline;
}

.icone-login{
    position: absolute;
    right: 24px;
    top: 20%;
    font-size: 20px;
}

.submit-button{
    width: 100%;
    height: 50px;
    background-color: var(--ciano);
    border: none;
    border-radius: 10px;
    color: var(--branco);
    font-weight: 700;
    margin-top: 24px;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}

.submit-button:hover{
    background-color: #0df4d1;
}

.register-link{
    text-align: center;
    margin: 20px;
}

.register-link p{
    font-size: 16px;
    color: #000000;
    font-weight: 300;
} 

.register-link p a{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

.register-link p a:hover{
    text-decoration: underline;
}